{% extends "hospital/main_menu.html" %}
{% block title %} Payment |   {% endblock %}
{% load static %}
{% block content %}

<div class="content-body">
<div class="container-fluid">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                {% if messages %}
                {% for foreachmessage in messages %}
                <h4 class="text-success">{{foreachmessage}}</h4>
                {% endfor %}
                {% else %}
                <h4 class="">New Payment</h4>
                {% endif %}            
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="patient">Patient</label>
                                <select class="form-control" name="patient_id" required>
                                    <option value="">Patient</option>
                                    {% for patient_list in patient_list %}
                                    <option value="{{doctor_list.id}}">{{patient_list.user.first_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="category">Category</label>
                                <select class="form-control" name="category" required>
                                    <option value="">Select Category</option>
                                    <option value="Xray">Xray</option>
                                    <option value="Blood Test">Blood Test</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="doctor">Doctor</label>
                                <select class="form-control" name="doctor_id" required>
                                    <option value="">Treated by Dr:</option>
                                    {% for doctor_list in doctor_list %}
                                    <option value="{{doctor_list.id}}">{{doctor_list.user.first_name}} {{doctor_list.department.desc}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="amount">Amount</label>
                                <input type="number" class="form-control" name="amount" placeholder="Amount" required>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="visit desc">Visit Description</label>
                                <input type="text" class="form-control" name="visitdsc" placeholder="Visit Description" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dob">Date Of Birth</label>
                                <input type="date" class="form-control" name="dob" placeholder="Date Of Birth" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="paymenttype">Payment Type</label>
                                <select class="form-control" name="paymenttype" required>
                                    <option value="">Payment Type</option>
                                    <option value="Cash">Cash</option>
                                    <option value="Card">Card</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="status">Payment status</label>
                                <select class="form-control" name="paymentstatus" required>
                                    <option value="">Payment status</option>
                                    <option value="Pending">Deposit</option>
                                    <option value="On_Recovery">Paid In full</option>
                                    <option value="Recovered">Outstanding</option>
                                    <option value="Other">Other</option>
                                </select>
                        </div>            
                        </div>
                      <button type="submit" class="btn btn-primary">Save</button>

                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
