{% extends "hospital/main_menu.html" %}
{% block title %} Payment |   {% endblock %}
{% load static %}
{% block content %}

<div class="content-body">
<div class="container-fluid">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                {% if messages %}
                {% for foreachmessage in messages %}
                <h4 class="text-success">{{foreachmessage}}</h4>
                {% endfor %}
                {% else %}
                <h4 class="">Edit Expense</h4>
                {% endif %}            
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form action="/update_expenses/{{expense_id}}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="form-group col-md-12">
                                <label for="category">Category</label>
                                <select class="form-control" name="category" required>
                                    <option value="">{{category.name}}</option>
                                    {% for all_expenses_categories in all_expenses_categories %}
                                    <option value="{{all_expenses_categories.id}}">{{all_expenses_categories.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="amount">Amount</label>
                                <input type="number" class="form-control" name="amount" value="{{amount}}" required>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="visit desc">Description</label>
                                <input type="text" class="form-control" name="decs" value="{{decs}}" required>
                            </div>
                        </div>
                      <button type="submit" class="btn btn-primary">Save</button>

                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
