{% extends "app/menu.html" %}
{% block title %} Hospital List |   {% endblock %}
{% load static %}
{% block content %}
{% if hospital_list_base_on_city %}
<div class="content-body">
			<div class="container-fluid">
					<div class="input-group search-area ml-auto d-inline-flex">
						<input type="text" class="form-control" placeholder="Search here">
						<div class="input-group-append">
							<button type="button" class="input-group-text"><i class="flaticon-381-search-2"></i></button>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-xl-12">
						<ul class="nav nav-pills review-tab">
							<li class="nav-item">
								<a href="#navpills-1" class="nav-link active" data-toggle="tab" aria-expanded="false">Available Hospitals</a>
							</li>
						</ul>
						{% for hospital_list_base_on_city in hospital_list_base_on_city %}
						<div class="tab-content">
							<div id="navpills-1" class="tab-pane active">
								<div class="card review-table">
									<div class="media align-items-center">
										<div class="checkbox mr-lg-4 mr-0 align-self-center">
											<div class="custom-control custom-checkbox checkbox-info">
												<input type="checkbox" class="custom-control-input" checked="" id="customCheckBox1" required="">
												<label class="custom-control-label" for="customCheckBox1"></label>
											</div>
										</div>
										<img class="mr-3 img-fluid rounded" width="90" src="{% static 'assets/images/doctors/6.jpg' %}" alt="DexignZone">
										<div class="media-body d-lg-flex d-block row align-items-center">
											<div class="col-xl-4 col-xxl-5 col-lg-6 review-bx">
												<h3 class="fs-20 font-w600 mb-1"><a class="text-black" href="javascript:void(0);">{{hospital_list_base_on_city.first_name}}</a></h3>
												<span class="fs-15 d-block">{{hospital_list_base_on_city.date_joined}}</span>
												<span class="text-primary d-block font-w600 mt-sm-2 mt-3"><i class="las la-map-marker-alt"></i>{{hospital_list_base_on_city.city}} Region</span>
											</div>
											<div class="col-xl-7 col-xxl-7 col-lg-6 text-dark mb-lg-0 mb-2">
												We are one of the best hospital in Town and haing over 50 professiona Doctors with varieties of specialities
											</div>
										</div>
										<div class="media-footer d-sm-flex d-block align-items-center">
											<div class="disease mr-5">
												<span class="star-review ml-lg-3 mb-sm-0 mb-2 ml-0 d-inline-block">
													<i class="fa fa-star text-orange"></i>
													<i class="fa fa-star text-orange"></i>
													<i class="fa fa-star text-orange"></i>
													<i class="fa fa-star text-orange"></i>
													<i class="fa fa-star text-gray"></i>
												</span>
											</div>
											<div class="edit ml-auto">
												<a href="javascript:void(0);" class="text-primary font-w600 mr-4">BOOK NOW</a>
												<a href="javascript:void(0);" class="text-danger font-w600">VIEW</a>
											</div>
										</div>
									</div>
								</div>
	

							</div>
						</div>
						{% endfor %}

					</div>
				</div>
            </div>
        </div>
{% else %}
<br><br><br><br><br><br><br><br>


<div class="container">
	<div class="col-xl-12 col-xxl-12">
				<div class="alert alert-danger alert-dismissible fade show">
					<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><circle cx="12" cy="12" r="10"></circle><path d="M8 14s1.5 2 4 2 4-2 4-2"></path><line x1="9" y1="9" x2="9.01" y2="9"></line><line x1="15" y1="9" x2="15.01" y2="9"></line></svg>
					<strong> We Could Find any Hospital !</strong> 
					<button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
					</button>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}

