{% extends "app/menu.html" %}
{% block title %} Hospital Detail |   {% endblock %}
{% load static %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item btn"><a onClick="javascript:history.go(-1);">BACK</a></li>
                </ol>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="profile card card-body px-3 pt-3 pb-0">
                    <div class="profile-head">
                        <div class="profile-info">
                            <div class="profile-photo">
                                <img src="images/profile/profile.png" class="img-fluid rounded-circle" alt="">
                            </div>
                            <div class="profile-details">
                                <div class="profile-name px-3 pt-2">
                                    <h4 class="text-primary mb-0">{{hospital_detail.first_name}}</h4>
                                    <p>{{hospital_detail.city}}</p>
                                </div>
                                <div class="profile-email px-2 pt-2">
                                    <h4 class="text-muted mb-0">{{hospital_detail.email}}</h4>
                                    <p>Email us</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="profile-statistics mb-5">
                            <div class="text-center">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="m-b-0">{{hospital_doctors_count}}</h3><span>Doctos</span>
                                    </div>
                                    <div class="col">
                                        <h3 class="m-b-0">{{hospital_treated_count}}</h3><span>Patient</span>
                                    </div>
                                    <div class="col">
                                        <h3 class="m-b-0">{{hospital_staff_count}}</h3><span>Workers</span>
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <a href="/book_now/{{hospital_detail.id}}" class="btn btn-primary mb-1">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <div class="profile-tab">
                            <div class="custom-tab-1">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"><a href="#about-me" data-toggle="tab" class="nav-link">About Hospital</a>
                                    </li>
                                   
                                </ul>
                                <div class="tab-content">
                                    <div id="about-me" class="tab-pane fade">
                                        <div class="profile-about-me">
                                            <div class="pt-4 border-bottom-1 pb-3">
                                                <p class="mb-2">
                                                    {{hospital_more_detail.desc}}
                                                </p>
                                            </div>
                                        </div>
                                     
                                        <div class="profile-personal-info">
                                            <h4 class="text-primary mb-4">Contact Information</h4>
                                            <div class="row mb-2">
                                                <div class="col-3">
                                                    <h5 class="f-w-500">Name <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-9"><span>{{hospital_detail.first_name}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-3">
                                                    <h5 class="f-w-500">Email <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-9"><span>{{hospital_detail.email}}</span>
                                                </div>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

