{% extends "receptionist/menu.html" %}
{% block title %} Edith Patient | {% endblock %}
{% load static %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    {% if messages %}
                    {% for foreachmessage in messages %}
                    <h4 class="text-success">{{foreachmessage}}</h4>
                    {% endfor %}
                    {% else %}
                    <h4 class="">Edit Patient</h4>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <form action="/update_patient/{{patientid}}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="title">Title</label>
                                    <select class="form-control" name="title" required>
                                        <option value="">{{title}}</option>
                                        <option value="Mr">Mr</option>
                                        <option value="Mrs">Mrs</option>
                                        <option value="Miss">Miss</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="patientname">Fullname</label>
                                    <input type="text" class="form-control" name="patientname" value="{{patientname}}"
                                        required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="phone">Phone Number</label>
                                    <input type="tel" class="form-control" name="phone" value="{{phone}}" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="nok">Next of Kin</label>
                                    <input type="text" class="form-control" name="nok" value="{{nok}}" required>
                                </div>
                                <div class="form-group col-md-6">
                                    Next Of Kin Phone Number
                                    <input type="tel" class="form-control" name="non" value="{{phone}}" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="paymenttype">Payment Type</label>
                                    <select class="form-control" name="paymenttype" required>
                                        <option value="{{paymenttype}}">{{paymenttype}}</option>
                                        <option value="Cash">Cash</option>
                                        <option value="Card">Card</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="status">Status</label>
                                    <select class="form-control" name="status" required>
                                        <option value="">{{status}}</option>
                                        <option value="Pending">Pending</option>
                                        <option value="On_Recovery">On Recovery</option>
                                        <option value="Recovered">Recovered</option>
                                    </select>
                                </div>
                    

                            </div>

                            <button type="submit" class="btn btn-primary">Update</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}