{% extends "hospital/main_menu.html" %}
{% block title %} Hospital Department |   {% endblock %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    {% if messages %}
                    {% for foreachmessage in messages %}
                    <h4 class="text-success">{{foreachmessage}}</h4>
                    {% endfor %}
                    {% else %}
                    <h4 class="">Book Appointment</h4>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <form action="/create_patient_appointment" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {% if patient_id %}
                                    <input type="number" class="form-control" name="phone" value="{{patient_id}}" readonly placeholder="Enter patient cell phone number"
                                    required>
                                    {% else %}
                                    <input type="number" class="form-control" name="phone" placeholder="Enter patient cell phone number"
                                    required>
                                    {% endif %}
                                </div>
                                    <div class="form-group col-md-6">
                                        <select class="form-control" name="doctor_id" required>
                                            <option value="">Assign Doctor</option>
                                            {% for doctor_list in doctor_list %}
                                            {% if doctor_list.user.is_dr %}
                                            <option value="{{doctor_list.id}}">{{doctor_list.user.first_name}} {{doctor_list.department.desc}} {{doctor_list.department.name}}</option>
                                            {% else %}

                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="date" class="form-control" name="apointmentdate" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <select class="form-control" name="charges" required>
                                            <option value="">Appointment Charges</option>
                                            {% for appointment_list in appointment_list %}
                                            <option value="{{appointment_list.amount}}">{{appointment_list.category}} Biir{{appointment_list.amount}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" readonly name="status" value="Pending" placeholder="Appointment Status"
                                            required>
                                    </div>
                                                                        
        
                                    <div class="form-group col-md-6">
                                        <select class="form-control" name="paymenttype" required>
                                            <option value="">Payment Type</option>
                                            <option value="Bank">Bank</option>
                                            <option value="Cash">Cash</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <select class="form-control" name="payment_status" required>
                                            <option value="">Payment Status</option>
                                            <option value="Paid">Paid</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" name="remarks" placeholder="Visit Remarks"
                                            required>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input type="text" class="form-control" name="visitdesc" placeholder="Visit Description"
                                            required>
                                    </div>
                

                                </div>

                                <button type="submit" class="btn btn-primary">Save</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

