{% extends "hospital/main_menu.html" %}
{% block title %} Hospital Department | {% endblock %}
{% load static %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    {% if messages %}
                    {% for foreachmessage in messages %}
                    <h4 class="text-success">{{foreachmessage}}</h4>
                    {% endfor %}
                    {% else %}
                    <h4 class="">New Prescription</h4>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <form action="/create_prescription" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="number" class="form-control" name="phone"
                                            placeholder="Enter patient cell phone number" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <select class="form-control" name="doctor_id" required>
                                            <option value="">Assign Doctor</option>
                                            {% for doctor_list in doctor_list %}
                                            <option value="{{doctor_list.id}}">{{doctor_list.user.first_name}}
                                                {{doctor_list.department.desc}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!--<div class="form-group col-md-6">
                                    <input type="date" class="form-control" name="date" placeholder="Date" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="number" class="form-control" name="charges"
                                        placeholder="Visit Charge" required>
                                </div>-->
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" name="history" placeholder="History"
                                            required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" name="note" placeholder="Note" required>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input type="text" class="form-control" name="advice" placeholder="Advice"
                                            required>
                                    </div>

                                </div>
                                <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}