{% extends "hospital/main_menu.html" %}
{% block title %} Hospital Department | {% endblock %}
{% load static %}
{% block content %}

<div class="content-body">
	<!-- row -->
	<div class="container-fluid">
		<div class="form-head d-flex mb-3 mb-md-4 align-items-start">
			<div class="mr-auto d-lg-block">
				<a href="/add_medicine" class="btn btn-primary btn-rounded">+ Add New</a>
			</div>
			<div class="input-group search-area ml-auto d-inline-flex mr-2">
				<input type="text" class="form-control" placeholder="Search here">
				<div class="input-group-append">
					<button type="button" class="input-group-text"><i class="flaticon-381-search-2"></i></button>
				</div>
			</div>
			<a href="javascript:void(0);" class="settings-icon"><i class="flaticon-381-settings-2 mr-0"></i></a>
		</div>
		<div class="row">
			<div class="col-xl-12">
				<div class="table-responsive">
					<table id="example5" class="table shadow-hover  table-bordered mb-4 dataTablesCard fs-14">
						<thead>
							<tr>
								<th>ID</th>
                                <th>Name</th>
								<th>Category</th>
								<th>Storebox</th>
                                <th>Purchaseprice</th>
                                <th>Saleprice</th>
                                <th>Age</th>
                                <th>Quantity</th>                            
                                <th>Generic Name</th>
								<th>Company</th>
								<th>Effects</th>
							</tr>
						</thead>
                        {% if all_medicine_list %}
						<tbody>
							{% for eachall_medicine_list in all_medicine_list %}
							<tr>
								<td>{{eachall_medicine_list.id}}</td>
                                <td>{{eachall_medicine_list.name}}</td>
								<td>{{eachall_medicine_list.category}}</td>
                                <td>{{eachall_medicine_list.storebox}}</td>
								<td>{{eachall_medicine_list.purchaseprice}}</td>
                                <td>{{eachall_medicine_list.quantity}}</td>
                                <td>{{eachall_medicine_list.genericname}}</td>
                                <td>{{eachall_medicine_list.company}}</td>
                                <td>{{eachall_medicine_list.effects}}</td>                          
                                <td><span class="font-w500">{{eachall_medicine_list.expiredate | date }}</span></td>
						
							</tr>
						
                            {% endfor %}
						</tbody>
						{% elif list_all_capsules %}
						<tbody>
							{% for list_all_capsules in list_all_capsules %}
							<tr>
								<td>{{list_all_capsules.id}}</td>
								<td>{{list_all_capsules.name}}</td>
                                <td>{{list_all_capsules.category}}</td>
								<td>{{list_all_capsules.storebox}}</td>
                                <td>{{list_all_capsules.purchaseprice}}</td>
                                <td>{{list_all_capsules.quantity}}</td>
                                <td>{{list_all_capsules.genericname}}</td>
								<td>{{list_all_capsules.company}}</td>
                                <td>{{list_all_capsules.effects}}</td>    
                                <td><span class="font-w500">{{list_all_capsules.expiredate | date }}</span></td>
                            
							</tr>
						
                            {% endfor %}
						</tbody>
                        {% elif list_all_liquid %}
						<tbody>
							{% for list_all_liquid in list_all_liquid %}
							<tr>
								<td>list_all_liquid.id}}</td>
								<td>list_all_liquid.name}}</td>
                                <td>list_all_liquid.category}}</td>
								<td>list_all_liquid.storebox}}</td>
                                <td>list_all_liquid.purchaseprice}}</td>
                                <td>list_all_liquid.quantity}}</td>
                                <td>list_all_liquid.genericname}}</td>
								<td>list_all_liquid.company}}</td>
                                <td>list_all_liquid.effects}}</td>    
                                <td><span class="font-w500">{{list_all_liquid.expiredate | date }}</span></td>
                            
							</tr>
						
                            {% endfor %}
						</tbody>
                        {% elif list_all_topical %}
						<tbody>
							{% for list_all_topical in list_all_topical %}
							<tr>
								<td>list_all_topical.id}}</td>
								<td>list_all_topical.name}}</td>
                                <td>list_all_topical.category}}</td>
								<td>list_all_topical.storebox}}</td>
                                <td>list_all_topical.purchaseprice}}</td>
                                <td>list_all_topical.quantity}}</td>
                                <td>list_all_topical.genericname}}</td>
								<td>list_all_topical.company}}</td>
                                <td>list_all_topical.effects}}</td>    
                                <td><span class="font-w500">{{list_all_topical.expiredate | date }}</span></td>
                            
							</tr>
						
                            {% endfor %}
						</tbody>
                        {% elif list_all_injections %}
						<tbody>
							{% for list_all_injections in list_all_injections %}
							<tr>
								<td>list_all_injections.id}}</td>
								<td>list_all_injections.name}}</td>
                                <td>list_all_injections.category}}</td>
								<td>list_all_injections.storebox}}</td>
                                <td>list_all_injections.purchaseprice}}</td>
                                <td>list_all_injections.quantity}}</td>
                                <td>list_all_injections.genericname}}</td>
								<td>list_all_injections.company}}</td>
                                <td>list_all_injections.effects}}</td>    
                                <td><span class="font-w500">{{list_all_injections.expiredate | date }}</span></td>
                            
							</tr>
						
                            {% endfor %}
						</tbody>

						{% endif %}
					</table>
				
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}