{% load static %}
<div class="header-left">
    {% if "/hospital_dashboard" in request.path %}
    <div class="dashboard_bar">
        Dashboard
    </div>
    {% elif "/department" in request.path %}
    <div class="dashboard_bar">
        Departments
    </div>
    {% elif "/add_department" in request.path %}
    <div class="dashboard_bar">
        Departments
    </div>
    {% elif "/edit_department" in request.path %}
    <div class="dashboard_bar">
        Departments
    </div>
    {% elif "/doctor_list" in request.path %}
    <div class="dashboard_bar">
        Doctors
    </div>
    {% elif "/create_doctor" in request.path %}
    <div class="dashboard_bar">
        Doctors
    </div>
    {% elif "/add_doctor" in request.path %}
    <div class="dashboard_bar">
        Doctors
    </div>
    {% elif "/edit_doctor" in request.path %}
    <div class="dashboard_bar">
        Doctors
    </div>
    {% elif "/doctor_treatment_record" in request.path %}
    <div class="dashboard_bar">
        Doctors
    </div>
    {% elif "/doctor_visit" in request.path %}
    <div class="dashboard_bar">
        Doctors
    </div>
    {% elif "/patient" in request.path %}
    <div class="dashboard_bar">
        Patient
    </div>
    {% elif "/add_patient" in request.path %}
    <div class="dashboard_bar">
        Patient
        </div>
    {% elif "/edit_patient" in request.path %}
    <div class="dashboard_bar">
        Patient
        </div>
    {% elif "/document_list" in request.path %}
        <div class="dashboard_bar">
        Patient
        </div>
    {% elif "/case_list" in request.path %}
    <div class="dashboard_bar">
        Patient
        </div>
    {% elif "/add_case" in request.path %}
    <div class="dashboard_bar">
        Patient
        </div>
    {% elif "/add_document" in request.path %}
        <div class="dashboard_bar">
        Patient
        </div> 
    {% elif "/humanresource_list" in request.path %}
    <div class="dashboard_bar">
        Human Resources
    </div>
    {% elif "/add_humanresource" in request.path %}
    <div class="dashboard_bar">
        Human Resources
    </div>
    {% elif "/edit_humanresource" in request.path %}
    <div class="dashboard_bar">
        Human Resources
    </div>
    {% elif "/humanresource_by_category" in request.path %}
    <div class="dashboard_bar">
        Human Resources
    </div>
    {% elif "/appointment_list" in request.path %}
    <div class="dashboard_bar">
        Appointment
    </div>
    {% elif "/add_appointment" in request.path %}
    <div class="dashboard_bar">
        Appointment
    </div>
    {% elif "/edit_appointment" in request.path %}
    <div class="dashboard_bar">
        Appointment
    </div>
    {% elif "/todays_appointment_list" in request.path %}
    <div class="dashboard_bar">
        Appointment
    </div>
    {% elif "/upcoming_appointment_list" in request.path %}
    <div class="dashboard_bar">
        Appointment
    </div>
    {% elif "/bedcategory_list" in request.path %}
    <div class="dashboard_bar">
        Bed Category
    </div>
    {% elif "/add_bedcategory" in request.path %}
    <div class="dashboard_bar">
        Bed Category
    </div>
    {% elif "/edit_bedcategory" in request.path %}
    <div class="dashboard_bar">
        Bed Category
    </div>
    {% elif "/childbirth_list" in request.path %}
    <div class="dashboard_bar">
        Child Birth Record
    </div>
    {% elif "/add_childbirth" in request.path %}
    <div class="dashboard_bar">
        Child Birth Record
    </div>
    {% elif "/deadthrecord_list" in request.path %}
    <div class="dashboard_bar">
        Death Record
    </div>
    {% elif "/add_deadthrecord" in request.path %}
    <div class="dashboard_bar">
        Death Record
    </div>
    {% elif "/donor_list" in request.path %}
    <div class="dashboard_bar">
        Donor
    </div>
    {% elif "/add_donor" in request.path %}
    <div class="dashboard_bar">
        Donor
    </div>
    {% elif "/file_list" in request.path %}
    <div class="dashboard_bar">
        File
    </div>
    {% elif "/add_file" in request.path %}
    <div class="dashboard_bar">
        File
    </div>
    {% elif "/add_blood" in request.path %}
    <div class="dashboard_bar">
        Blood Bank
    </div>
    {% elif "/blood_list" in request.path %}
    <div class="dashboard_bar">
        Blood Bank
    </div>
    {% elif "/add_prescription" in request.path %}
    <div class="dashboard_bar">
        Prescription
    </div>
    {% elif "/prescription_list" in request.path %}
    <div class="dashboard_bar">
        Prescription
    </div>
    {% elif "/edit_prescription" in request.path %}
    <div class="dashboard_bar">
        Prescription
    </div>

    {% elif "/add_medicine" in request.path %}
    <div class="dashboard_bar">
        Medicine
    </div>
    {% elif "/medicine_list" in request.path %}
    <div class="dashboard_bar">
        Medicine
    </div>
    {% elif "/medicinecategory_list" in request.path %}
    <div class="dashboard_bar">
        Medicine Category
    </div>
    {% elif "/add_notice" in request.path %}
    <div class="dashboard_bar">
        Notice
    </div>
    {% elif "/notice_list" in request.path %}
    <div class="dashboard_bar">
        Notice
    </div>
    {% elif "/add_payment" in request.path %}
    <div class="dashboard_bar">
        Finance 
    </div>
    {% elif "/payment_list" in request.path %}
    <div class="dashboard_bar">
        Finance 
    </div>
    {% elif "/edit_payment" in request.path %}
    <div class="dashboard_bar">
        Finance 
    </div>
    {% elif "/paymentcategory" in request.path %}
    <div class="dashboard_bar">
        Finance 
    </div>
    {% elif "/expensecategory" in request.path %}
    <div class="dashboard_bar">
        Finance 
    </div>
    {% elif "/expense_list" in request.path %}
    <div class="dashboard_bar">
        Finance 
    </div>
    {% elif "/edit_expense" in request.path %}
    <div class="dashboard_bar">
        Finance 
    </div>
    {% elif "/add_expense" in request.path %}
    <div class="dashboard_bar">
        Finance 
    </div>
    {% elif "/doctors_profile" in request.path %}
    <div class="dashboard_bar">
        Doctor's Details
    </div>
    {% elif "/patient_details" in request.path %}
    <div class="dashboard_bar">
        Patient's Details
    </div>
    {% else %}
    <div class="dashboard_bar">
        Dashboard
    </div>
    {% endif %}
</div>
