{% extends "hospital/main_menu.html" %}
{% block title %} Hospital Department | {% endblock %}
{% load static %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    {% if messages %}
                    {% for foreachmessage in messages %}
                    <h4 class="text-success">{{foreachmessage}}</h4>
                    {% endfor %}
                    {% else %}
                    <h4 class="">Edit Donor</h4>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <form action="/update_donor/{{donorid}}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">                               
                                    <div class="form-group col-md-6">
                                        <label for="title">Title</label>
                                        <select class="form-control" name="title" required>
                                            <option value="">{{title}}</option>
                                            <option value="Mr">Mr</option>
                                            <option value="Mrs">Mrs</option>
                                            <option value="Miss">Miss</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                    
                                    <div class="form-group col-md-6">
                                        <label for="firstname">Firstname</label>
                                        <input type="text" class="form-control" name="firstname" value="{{firstname}}"
                                            required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="lastname">Lastname</label>
                                        <input type="text" class="form-control" name="lastname" value="{{lastname}}"
                                            required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="bloodgroup">Blood Group</label>
                                        <select class="form-control" name="bloodgroup" required>
                                            <option value="">{{bloodgroup}}</option>
                                            <option value="O-">O-</option>
                                            <option value="O+">O+</option>
                                            <option value="B-">B-</option>
                                            <option value="B+">B+</option>
                                            <option value="AB-">AB-</option>
                                            <option value="AB+">AB+</option>
                                            <option value="A-">A-</option>
                                            <option value="A+">A+</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="weight">Weight</label>
                                        <input type="text" class="form-control" name="weight"
                                            value="{{weight}}" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="age">Age</label>
                                        <input type="number" class="form-control" name="age" value="{{age}}"
                                            required>
                                    </div>                                               
                                    <div class="form-group col-md-6">
                                        <label for="gender">Gender</label>
                                        <select class="form-control" name="gender" required>
                                            <option value="">{{gender}}</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                   
                                    <div class="form-group col-md-6">
                                        <label for="phone">Phone</label>
                                        <input type="tel" class="form-control" name="phone" value="{{phone}}"
                                            required>
                                    </div> 
                                    <div class="form-group col-md-6">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" name="email" value="{{email}}"
                                            required>
                                    </div>  
                                </div>

                                <button type="submit" class="btn btn-primary">Save</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}