{% extends "hospital/main_menu.html" %}
{% block title %} Hospital Profile |   {% endblock %}
{% load static %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/hospital_dashboard">Home</a></li>
                <li class="breadcrumb-item active"><a href="/hospital_profile">Profile</a></li>
            </ol>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="profile card card-body px-3 pt-3 pb-0">
                    <div class="profile-head">
                        <div class="photo-content">
                            <div class="cover-photo"></div>
                        </div>
                        <div class="profile-info">
                            <div class="profile-photo">
                                <img src="images/profile/profile.png" class="img-fluid rounded-circle" alt="">
                            </div>
                            <div class="profile-details">
                                <div class="profile-name px-3 pt-2">
                                    <h4 class="text-primary mb-0">{{request.user.first_name | upper }}</h4>
                                </div>
                                <div class="profile-email px-2 pt-2">
                                    <h4 class="text-muted mb-0">ID: {{request.user.customerid }}</h4>
                                    
                                </div>
                                <div class="dropdown ml-auto">
                                    <a href="/hospital_dashboard" class="btn btn-primary light sharp" data-toggle="dropdown" aria-expanded="true"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-item"><i class="fa fa-users text-primary mr-2"></i> Patient</li>
                                        <li class="dropdown-item"><i class="fa fa-plus text-primary mr-2"></i> Admission</li>
                                        <li class="dropdown-item"><i class="fa fa-user-circle text-primary mr-2"></i> Appointment</li>
                                        <li class="dropdown-item"><i class="fa fa-ban text-primary mr-2"></i> Human Resource</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="profile-statistics mb-5">
                            <div class="text-center">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="m-b-0">{{count_number_of_patient}}</h3><span>Patient</span>
                                    </div>
                                    <div class="col">
                                        <h3 class="m-b-0">{{count_number_of_appointment}}</h3><span>Appointment</span>
                                    </div>
                                    <div class="col">
                                        <h3 class="m-b-0">{{count_number_of_doctors}}</h3><span>Doctors</span>
                                    </div>
                                </div>
                             
                            </div>
                        </div>
                        <div class="profile-blog mb-5">
                            <h5 class="text-primary d-inline">About the Hospital</h5><a href="javascript:void()" class="pull-right f-s-16">More</a>
                            <img src="images/profile/1.jpg" alt="" class="img-fluid mt-4 mb-4 w-100">
                            <p class="mb-0">{{about_the_hospital_text}}</p>
                        </div>
  
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <div class="profile-tab">
                            <div class="custom-tab-1">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"><a href="#my-posts" data-toggle="tab" class="nav-link active show">The App</a>
                                    </li>
                                    <li class="nav-item"><a href="#about-me" data-toggle="tab" class="nav-link">The Hospital</a>
                                    </li>
                                    <li class="nav-item"><a href="#profile-settings" data-toggle="tab" class="nav-link">Settings</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="my-posts" class="tab-pane fade active show">
                                        <div class="my-post-content pt-3">
                                        
                                            <div class="profile-uoloaded-post border-bottom-1 pb-5">
                                                <img src="images/profile/8.jpg" alt="" class="img-fluid">
                                                <a class="post-title" href="javascript:void()">
                                                    <h4>Seamless care for your hospitals</h4>
                                                </a>
                                                <p>It Tech Solutions Company will provide you the best & highly accurate analysis that will let you make reliable decisions related to your business.</p>
                                                <button class="btn btn-primary mr-2"><span class="mr-2"><i
                                                            class="fa fa-heart"></i></span>Changes Password</button>
                                                {% comment %} <button class="btn btn-secondary"><span class="mr-2"><i
                                                            class="fa fa-reply"></i></span>Reply</button> {% endcomment %}
                                            </div>
                            
                                       
                                        </div>
                                    </div>
                                    <div id="about-me" class="tab-pane fade">
                                        <div class="profile-about-me">
                                            <div class="pt-4 border-bottom-1 pb-3">
                                                {% comment %} <h4 class="text-primary">About Our Hospital</h4> {% endcomment %}
                                                <p class="mb-2">{{about_the_hospital_text}}</p>
                                            </div>
                                        </div>
                                        <div class="profile-personal-info">
                                            <h4 class="text-primary mb-4">Hopital Information</h4>
                                            <div class="row mb-2">
                                                <div class="col-3">
                                                    <h5 class="f-w-500">Name <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-9"><span>{{request.user.first_name}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-3">
                                                    <h5 class="f-w-500">Email <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-9"><span>{{request.user.email}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-3">
                                                    <h5 class="f-w-500">City <span class="pull-right">:</span></h5>
                                                </div>
                                                <div class="col-9"><span>{{request.user.city}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-3">
                                                    <h5 class="f-w-500">Telephone <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-9"><span>{{request.user.number}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-3">
                                                    <h5 class="f-w-500">Location <span class="pull-right">:</span></h5>
                                                </div>
                                                <div class="col-9"><span>{{request.user.address}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-3">
                                                    <h5 class="f-w-500">Hospital ID <span class="pull-right">:</span></h5>
                                                </div>
                                                <div class="col-9"><span>{{request.user.customerid}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="profile-settings" class="tab-pane fade">
                                        <div class="pt-3">
                                            <div class="settings-form">
                                                <br>
                                                <form action="/password_update" method="POST">
                                                    {% csrf_token %}
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12">
                                                            <input type="email" placeholder="Enter username" name="email" required="required" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" placeholder="New Password" name="new_password" required="required" class="form-control">
                                                    </div>
                                                    </div>
                                                  
                                                    </div>
                                                    <button class="btn btn-primary" type="submit">Update Password</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

