{% load static %}
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li><a href="/hospital_dashboard" aria-expanded="false">
                <i class="bi bi-house-add-fill"></i>
                <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li><a class="#" href="/department" aria-expanded="false">
                <i class="bi bi-person-vcard"></i>
                <span class="nav-text">Departments</span>
            </a>
        </li>

            <li><a class="has-arrow ai-icon" href="#" aria-expanded="false">
                <i class="bi bi-heart-pulse-fill"></i>
                    <span class="nav-text">Doctors</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/doctor_list">Doctors List</a></li>
                    <li><a href="#">Treatment History</a></li>
                    <li><a href="#">Doctors Visit</a></li>
                </ul>
            </li>

            <li><a class="has-arrow ai-icon" href="#" aria-expanded="false">
                <i class="bi bi-person-fill-down"></i>
                    <span class="nav-text">Patient</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/add_patient">Add Patient</a></li>
                    <li><a href="/patient_list">Patient List</a></li>
                    <li><a href="#">Payments</a></li>
                    <li><a href="#">Case Manager</a></li>
                    <li><a href="#">Documents</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="bi bi-calendar-event"></i>
                    <span class="nav-text">Appointment</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/appointment_list">All</a></li>
                    <li><a href="/add_appointment">Add</a></li>
                    <li><a href="#">Todays</a></li>
                    <li><a href="#">Upcoming</a></li>
                    <li><a href="#">Calendar</a></li>
                    <li><a href="#">Request</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="bi bi-person-workspace"></i>
                    <span class="nav-text">Human Resources</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/add_humanresource">Add</a></li>
                    <li><a href="/humanresource_list">All Employees</a></li>
                    <li><a href="/humanresource_by_category/Doctor">Doctor</a></li>
                    <li><a href="/humanresource_by_category/Nurse">Nurse</a></li>
                    <li><a href="/humanresource_by_category/Phamarcist">Phamarcist</a></li>
                    <li><a href="/humanresource_by_category/Laboratorist">Laboratorist</a></li>
                    <li><a href="/humanresource_by_category/Accountant">Accountant</a></li>
                    <li><a href="/humanresource_by_category/Receptionist">Receptionist</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="bi bi-cash-coin"></i>
                    <span class="nav-text">Financial Activities</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Add Payment</a></li>
                    <li><a href="#">Payments</a></li>
                    <li><a href="#">Draft Payments</a></li>
                    <li><a href="#">Due Collection</a></li>
                    <li><a href="#">Payment Procedures</a></li>
                    <li><a href="#">Payment Categories</a></li>
                    <li><a href="#">Expense</a></li>
                    <li><a href="#">Add Expense</a></li>
                    <li><a href="#">Expense Categories</a></li>
                </ul>
            </li>
            <li><a href="javascript:void()" aria-expanded="false">
                <i class="bi bi-ticket-detailed"></i>
                    <span class="nav-text">Prescription</span>
                </a>
            </li>
            <li><a href="javascript:void()" aria-expanded="false">
                    <i class="bi bi-ui-checks"></i>
                    <span class="nav-text">Lab Tests</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Lab Tests</a></li>
                    <li><a href="#">Lab Reports</a></li>
                    <li><a href="#">Report Delivery</a></li>
                    <li><a href="#">Template</a></li>
                    <li><a href="#">Macro</a></li>
                    <li><a href="#">Payment Categories</a></li>
                    <li><a href="#">Expense</a></li>
                    <li><a href="#">Add Expense</a></li>
                    <li><a href="#">Expense Categories</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="bi bi-hospital"></i>
                    <span class="nav-text">Admission & bed</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">All Admissions</a></li>
                    <li><a href="#">Add Admission</a></li>
                    <li><a href="/bedcategory_list">Bed List</a></li>
                    <li><a href="#">Add Bed</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="bi bi-capsule-pill"></i>
                    <span class="nav-text">Phamarcy</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Sales</a></li>
                    <li><a href="#">Add New Sale</a></li>
                    <li><a href="#">Expense</a></li>
                    <li><a href="#">Add Expense</a></li>
                    <li><a href="#">Expense Categories</a></li>
                    <li><a href="#">Report</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="bi bi-capsule"></i>
                <span class="nav-text">Medicine</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="#">Medicine List</a></li>
                <li><a href="#">Add Medicine</a></li>
                <li><a href="#">Medicine Category</a></li>
                <li><a href="#">Add Category</a></li>
                <li><a href="#">Medicine Stock Alert</a></li>
            </ul>
        </li>
        <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
            <i class="bi bi-person-plus-fill"></i>
            <span class="nav-text">Birth Record</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="#">Add Birth Record</a></li>
            <li><a href="#">List Of Birth Record</a></li>
        </ul>
    </li>
        <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
            <i class="bi bi-person-fill-dash"></i>
            <span class="nav-text">Dead Record</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="#">Add Dead Record</a></li>
            <li><a href="#">List Of Dead Record</a></li>
        </ul>
    </li>
</li>
<li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
    <i class="bi bi-file-earmark-check"></i>
    <span class="nav-text">Report</span>
</a>
<ul aria-expanded="false">
    <li><a href="#">Financial Report</a></li>
    <li><a href="#">User Activity Report</a></li>
    <li><a href="#">Doctors Commission</a></li>
    <li><a href="#">Monthly Sales</a></li>
    <li><a href="#">Daily Sales</a></li>
    <li><a href="#">Monthly Expense</a></li>
    <li><a href="#">Daily Expense</a></li>
    <li><a href="#">Income vs Expense</a></li>
    <li><a href="#">Birth Report</a></li>
    <li><a href="#">Operation Report</a></li>
    <li><a href="#">Expire Report</a></li>
</ul>
</li>
<li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
    <i class="bi bi-bell-fill"></i>
    <span class="nav-text">Notice</span>
</a>
<ul aria-expanded="false">
    <li><a href="#">Notice</a></li>
    <li><a href="#">Add New</a></li>
</ul>
</li>
<li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
    <i class="bi bi-envelope-check"></i>
    <span class="nav-text">Email</span>
</a>
<ul aria-expanded="false">
    <li><a href="#">Auto Email Template</a></li>
    <li><a href="#">NEW</a></li>
    <li><a href="#">Sent</a></li>
    <li><a href="#">Settings</a></li>
</ul>
</li>




        </ul>

        <div class="plus-box">
            <p class="fs-16 font-w500 mb-1">Check your job schedule</p>
            <a class="text-white fs-26" href="javascript:;"><i class="las la-long-arrow-alt-right"></i></a>
        </div>
        <div class="copyright">
            <p class="fs-14 font-w200"><strong class="font-w400">Hospital Management System </strong> © 2023 All
                Rights Reserved</p>
            <p>Made with <i class="fa fa-heart"></i> by Mukete Group</p>
        </div>
    </div>
</div>