{% load static %}
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li><a href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-home"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li><a class="#" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-layer-1"></i>
                    <span class="nav-text">Department</span>
                </a>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-user"></i>
                    <span class="nav-text">Doctors</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Doctors List</a></li>
                    <li><a href="#">Treatment History</a></li>
                    <li><a href="#">Doctors Visit</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-user"></i>
                    <span class="nav-text">Patient</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Patient List</a></li>
                    <li><a href="#">Payments</a></li>
                    <li><a href="#">Case Manager</a></li>
                    <li><a href="#">Documents</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-user"></i>
                    <span class="nav-text">Appointment</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">All</a></li>
                    <li><a href="#">Add</a></li>
                    <li><a href="#">Todays</a></li>
                    <li><a href="#">Upcoming</a></li>
                    <li><a href="#">Calendar</a></li>
                    <li><a href="#">Request</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-user"></i>
                    <span class="nav-text">Human Resources</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Nurse</a></li>
                    <li><a href="#">Phamarcist</a></li>
                    <li><a href="#">Laboratorist</a></li>
                    <li><a href="#">Accountant</a></li>
                    <li><a href="#">Receptionist</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-user"></i>
                    <span class="nav-text">Financial Activities</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Add Payment</a></li>
                    <li><a href="#">Payments</a></li>
                    <li><a href="#">Draft Payments</a></li>
                    <li><a href="#">Due Collection</a></li>
                    <li><a href="#">Payment Procedures</a></li>
                    <li><a href="#">Payment Categories</a></li>
                    <li><a href="#">Expense</a></li>
                    <li><a href="#">Add Expense</a></li>
                    <li><a href="#">Expense Categories</a></li>
                </ul>
            </li>
            <li><a href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-home"></i>
                    <span class="nav-text">Prescription</span>
                </a>
            </li>
            <li><a href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-home"></i>
                    <span class="nav-text">Lab Tests</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Lab Tests</a></li>
                    <li><a href="#">Lab Reports</a></li>
                    <li><a href="#">Report Delivery</a></li>
                    <li><a href="#">Template</a></li>
                    <li><a href="#">Macro</a></li>
                    <li><a href="#">Payment Categories</a></li>
                    <li><a href="#">Expense</a></li>
                    <li><a href="#">Add Expense</a></li>
                    <li><a href="#">Expense Categories</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-user"></i>
                    <span class="nav-text">Admission and bed</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">All Admissions</a></li>
                    <li><a href="#">Add Admission</a></li>
                    <li><a href="#">Bed List</a></li>
                    <li><a href="#">Add Bed</a></li>
                    <li><a href="#">Bed Category</a></li>
                    <li><a href="#">Patient Service</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-user"></i>
                    <span class="nav-text">Phamarcy</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Sales</a></li>
                    <li><a href="#">Add New Sale</a></li>
                    <li><a href="#">Expense</a></li>
                    <li><a href="#">Add Expense</a></li>
                    <li><a href="#">Expense Categories</a></li>
                    <li><a href="#">Report</a></li>
                </ul>
            </li>
        </ul>

        <div class="plus-box">
            <p class="fs-16 font-w500 mb-1">Check your job schedule</p>
            <a class="text-white fs-26" href="javascript:;"><i class="las la-long-arrow-alt-right"></i></a>
        </div>
        <div class="copyright">
            <p class="fs-14 font-w200"><strong class="font-w400">Eres Hospital Admin Dashboard</strong> © 2020 All
                Rights Reserved</p>
            <p>Made with <i class="fa fa-heart"></i> by DexignZone</p>
        </div>
    </div>
</div>