{% extends "doctor/menu.html" %}
{% block title %} Doctors Report  | {% endblock %}
{% load static %}
{% block content %}
        <div class="content-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {% for patient_treatment_report in patient_treatment_report %}
                        <div class="card mt-3">
                            <div class="card-header"> Doctors  Report <strong>Date: {{patient_treatment_report.created_at}}</strong> <span class="float-right">
                                    <strong>Status:</strong> Completed</span> </div>
                            <div class="card-body">
                                <div class="row mb-5">
                                    <div class="mt-4 col-xl-3 col-lg-3 col-md-6 col-sm-12">
                                        <h6>Issued From:</h6>
                                        <div>Hospital Name: <strong>{{patient_treatment_report.hospital.first_name}}</strong> </div>
                                        <div>Doctor Name Dr.{{patient_treatment_report.dr.name}}</div>
                                        <div>Doctors Email {{patient_treatment_report.dr.email}}</div>
                                        <div>Phone:{{patient_treatment_report.dr.phone}}</div>
                                    </div>
                                    <div class="mt-4 col-xl-3 col-lg-3 col-md-6 col-sm-12">
                                        <h6>Patient Details:</h6>
                                        <div>Full Names <strong>{{patient_treatment_report.patient.title}}. {{patient_treatment_report.patient.name}}</strong> </div>
                                        <div>Phone:{{patient_treatment_report.patient.phone}}</div>
                                    </div>
                                    <div class="mt-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-lg-end justify-content-md-center justify-content-xs-start">
                                        <div class="row align-items-center">
                                            <div class="col-auto"> 
                                                <span>This Patient Report is Authentic and signed by</strong><br>
                                                    <strong>Dr.{{patient_treatment_report.dr.name}}</strong></span><br>
													{% comment %} <img src="{{patient_treatment_report.dr.signature.url}}" width="130px" alt=""><br> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="center">No</th>
                                                <th>Disease Name</th>
                                                <th>Treatment Status</th>
                                                <th>Consultation</th>
                                                <th>Prescription</th>
                                                <th class="right">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="center">{{forloop.counter}}</td>
                                                <td class="left strong">{{patient_treatment_report.dname}}</td>
                                                <td class="left">Completed</td>
                                                <td class="left">{{patient_treatment_report.desc}}</td>
                                                <td class="left">{{patient_treatment_report.remark}}</td>
                                                <td class="right">{{patient_treatment_report.created_at}}</td>
                                            </tr>
                    
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-sm-5"> </div>
                                    <div class="col-lg-4 col-sm-5 ml-auto">
                                        <table class="table table-clear">
                                            <tbody>
                                                <tr>

                                                <tr>
                                                    <td class="left"><strong>Signature</strong></td>
                                                    <td class="right"><strong>Dr.{{patient_treatment_report.dr.name}}</strong><br>
														<img src="{{patient_treatment_report.dr.signature.url}}" width="130px" alt=""><br>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}

{% endblock %}