{% load static %}
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li><a href="/doctorsdashboard" aria-expanded="false">
                <i class="bi bi-house-add-fill"></i>
                <span class="nav-text">Welcome</span>
                </a>
            </li>

        </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="bi bi-calendar-event"></i>
                    <span class="nav-text">Appointment</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">All</a></li>
                    <li><a href="#">Add</a></li>
                    <li><a href="#">Todays</a></li>
                    <li><a href="#">Upcoming</a></li>
                </ul>
            </li>
            <li><a class="#" href="/prescription_list" aria-expanded="false">
                <i class="bi bi-ticket-detailed"></i>
                <span class="nav-text">Prescription</span>
            </a>
        </li>
     
</ul>

        {% comment %} <div class="plus-box">
            <p class="fs-16 font-w500 mb-1">Check your job schedule</p>
            <a class="text-white fs-26" href="javascript:;"><i class="las la-long-arrow-alt-right"></i></a>
        </div> {% endcomment %}
        <br><br>
        <div class="copyright">
            <p class="fs-14 font-w200"><strong class="font-w400">Hospital Management System </strong> © 2023 All
                Rights Reserved</p>
            <p>Made with <i class="fa fa-heart"></i> by IT Solutions</p>
        </div>
    </div>
</div>